
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6">
            <canvas  id="chartBarExpenseByType" >{{ chartBarExpenseByType }}</canvas>
        </div>
       <div class="col-sm-6">
            <canvas  id="chartBarCurrentPeriod" >{{ chartBarCurrentPeriod }}</canvas>
        </div>
    </div>
    <div class="row my-3">
       <div class="col-sm-4">
            <canvas  id="chartExpenseBudgetHistory" >{{ chartExpenseBudgetHistory }}</canvas>
        </div>
       <div class="col-sm-4">
            <canvas  id="chartEvolExpense" >{{ chartEvolExpense }}</canvas>
        </div>
       <div class="col-sm-4">
            <canvas  id="chartEvolDiffExpenseBudget" >{{ chartEvolDiffExpenseBudget }}</canvas>
        </div> 
    </div>

   

</div>


